body {
	background: #000;
}

* {
	box-sizing: border-box;
}

.tty {
  color: #eee;
	font-family: "Courier New";
  padding-left: 40px;
}

.prompt {
	font-size: 40px;
  	margin-left: -40px;
  	margin-right: 10px;
}

.stdin {
  word-break: break-all;
  font-size: 36px;
}

.caret {
  display: inline-flex;
  width: 12px;
  height: 30px;
  background-color: green;
  animation: caret 1s linear infinite;
}

@keyframes caret {
  50% { opacity: 0; }
}